@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.heading {
    width: 100vw;
    background-color: #282c34;
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}