.bike-card {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1em;
}

.bike-card img {
    grid-row-start: span 3;
    margin-left: 1em;
    margin-top: 3em;
}